.color_0 { color: #32d74b; background: #32d74b26 }
.color_1 { color: #ffa72e; background: #ff831026 }
.color_2 { color: #4bda9e; background: #4bda9e26 }
.color_3 { color: #f23051; background: #f2305126 }
.color_4 { color: #e539ac; background: #e539ac26 }
.color_5 { color: #3a9dff; background: #3a9dff26 }
.color_6 { color: #ffda1a; background: #ffda1a26 }
.color_7 { color: #c15cff; background: #c15cff26 }
.color_8 { color: #a8f230; background: #a8f23026 }
.color_9 { color: #36bed9; background: #36bed926 }
.color_10 { color: #fc0630; background: #fc063026 }
.color_11 { color: #d898ff; background: #d898ff26 }
.color_12 { color: #5efad4; background: #5efad426 }
.color_13 { color: #5ec2fa; background: #5ec2fa26 }
.color_14 { color: #fbff24; background: #fbff2426 }
